body {
  background-color: rgba(0, 255, 255, 0.105);
}
#container {
  text-align: center;
}
#card {
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  padding: 2vh;
  background-color: rgba(137, 43, 226, 0.251);
}
#cardContent {
  text-align: left;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.socials {
  height: 4vh;
  width: 8vh;
  border: none;
  background-color: rgba(0, 0, 255, 0.445);
  border-radius: 10px;
  margin: 1vh;
}
